<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Lab 8</title>
    <title>Stock portfolio</title>
    <link rel="stylesheet" href="{{request.static_url('pyramid_stock:static/base.css')}}">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stock:static/reset.css')}}">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stock:static/layot.css')}}">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stock:static/modules.css')}}">
</head>
<body>
    <header>
    </header> 
    <main>
      <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        {% if request.authenticated_userid %}
        <li><a href="/portfolio">PORTFOLIO</a></li>
        <li><a href="/stock-add">ADD NEW</a></li>
        <li><a href="/logout">LOUGOUT</a></li>
        {% else %}
        <li><a href="/autho">LOGIN</a></li>
        {% endif %}
      </ul>
    </nav>
        <h1>Hi this is my app</h1>
        <h4>Need more data</h4>
    {% block content %}
    <p>No content</p>
    {% endblock content %}
    </main>
   
</body>
</html>