{% extends “base.jinja2”%}

{% block content %}

<div id=‘form-module’>
 <h2>Welcome to Your Stock Portfolio</h2>
 <div class=“center”>
   <button href=“/login.html”>Login</button>
   <button>Sign Up</button>
 </div>
</div>

{% endblock content %}