{% extends "base.jinja2" %}

{% block content %}

<h1>Details about item</h1>
  <p>
    <h3>{{lst.companyName}}</h3>
    <p>{{lst.CEO}} {{lst.exchange}}</p>
    <p>{{lst.industry}}</p>
    <p>{{lst.website}}</p>
    <p>{{lst.issueType}}</p>
    <p>{{lst.sector}}</p>
    <p>{{lst.description}}</p>
</p>

{% endblock content %}
