{% extends "base.jinja2" %}

{% block content %}
  <p>Add a ticker</p>
  <form>
    <input type="text" name="add-ticker" required>
    <button class="submit-ticker">Add to Portfolio</button>
  </form>
{% endblock content %}